*{              /*selector universal*/
    margin:0;
    padding:0;
}
body{
    background-color: rgb(255, 213, 248);
    font-family: 'Oswald', sans-serif;
    font-size: 80px;

}

nav{
    height: 80px;
    width: 100%;
    background-color: #000;
    color:#fff;


    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 10px;
}

.center-center{
    display: flex;
    align-items: center;
    justify-content: center;
}

nav a{
    color:#fff;
    font-size: 20px;
    text-decoration: none;
    padding-right: 15px;
}

.link-navbar{
    font-size: 20px;
    color: #fff;
    text-decoration: none;

}

#home-hero{
    /*height: 50;*/
    width: 100%;
    background-color: rgb(132, 133, 155);
    padding: 0 15px 0 15px;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}

#home-hero h1{
    font-size: 60px;
    color: rgb(33, 61, 219);

}

#home-hero p{
    font-size: 30px;

}
#home-hero img{
    width: 550px;
}




.grid-container{
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: 200px 200px 200px;
    column-gap: 10px;
    row-gap: 10px;
    background-color: rgb(123, 202, 185);
}

.perfil-card{
    background-color: darkorange;
    font-size: 20px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}
.perfil-card img{
    width: 190px;
}