*{              /*selector universal*/
    margin:0;
    padding:0;
}
body{
    background-color: rgb(156, 156, 247);
    font-family: 'Ephesis', cursive;

}

.link-navbar{ /*es una clase*/
    height: 80px;

    font-size: 20px;
    color:crimson;
    text-decoration: none;
}
nav{
    height: 80px;
    font-size:40px;
    color:rgb(3, 158, 55);
    text-decoration: none;
}

nav{
    height: 100px;
    width: 100%;
    background-color: cyan;
0
    display: flex;
    align-self: center;
    justify-content: space-between;
   

}

.center-center{
    display: flex;
    align-items: center;
    justify-content: center;

}

#home-hero{
    /*height: 50;*/
    width: 100%;
    background-color: chartreuse;
    padding: 0 15px 0 15px;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}

#home-hero h1{
    font-size: 40px;
    color: darkmagenta;

}

#home-hero p{
    font-size: 20px;

}
#home-hero img{
    width: 400px;
}




.grid-container{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: 200px 200px 200px;
    column-gap: 10px;
    row-gap: 10px;
    background-color: darkolivegreen;
}

.perfil-card{
    background-color: darkorange;
    font-size: 30px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}
.perfil-card img{
    width: 180px;
}